.translation-event-form label {
    width: 10%;
}
.translation-event-form #event-title, 
.translation-event-form #event-description {
    width: 30%;
}
.translation-event-form input[type="text"],
.translation-event-form input[type="date"] {
    width: 13%;
}
.translation-event-form div {
    margin-top: 1em;
}
.translation-event-form #submit-event {
    margin-left: 10%;
    width: 30%;
    margin-top: 1em;
    display: block;
}
.event-page-title {
    border-bottom: #d9d8d8 thin solid;
    padding-bottom: .5em;
}
.event-details-page {
    border-bottom: #cfd4d4 thin solid;
    width: 60%;
    margin: 0 auto;
}
.event-details-left {
    width: 77%;
    float: left;
    border-right: #dadfdf thin solid;
    margin-right: 1%;
    padding-right: 1em;
}
.event-details-right {
    width: 22%;
    float: left;
    padding: 1em;
}
button#join-event {
    width: 100%;
    display: block;
}
.hide-event-url {
    display: none;
}
.translation-event-form .submit-btn-group {
    margin-left: 10%;
}
.translation-event-form button#save-draft {
    background: #fff;
    color: var(--gp-color-btn-primary-bg);
}

